* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;




}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("IMAGES/product-12.jpeg") no-repeat;
    min-height: 100vh;
    background-size: cover;
    align-items: center;
    padding: 2rem;



}

header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

h2 {

    font-size: 2em;
    color: #fff;
    ;
    user-select: none;
}








.btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: solid 2px #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;


}


.btnlogin-popup:hover {
    background: #fff;
    color: #162938;

}


.mobile.navbar-btn {

    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-navbar-icon {

    width: 1.5rem;
    height: 1.5rem;
    color: #Fff;

}

.mobile-navbar-icon[name="close-outline"] {
    display: none;
}



.former {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: transform .5s ease, height 0.2s ease;
    overflow: hidden;
    transform: scale(0);
}

.former.active-popup {
    transform: scale(1);
}

.former.active {
    height: 520px;
}



.former .register.form-box {
    position: absolute;
    transform: translateX(400px);
    transition: none;
}

.former.active .register.form-box {
    transition: none;
    transform: translateX(0);

}

.former.active .login.form-box {
    transition: none;
    transform: translateX(-400px);

}

.former.login.form-box {
    transition: transform 18s ease;
    transform: translateX(1);
}






.login.form-box {

    width: 100%;
    padding: 40px;
    /* display: none; */

}

#form-s {
    font-size: 2em;
    color: #262938;
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;



}

.input-box label {

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: whitesmoke;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;




}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 1em;
    color: #162938;
    padding: 0 35px 0 5px;

}

.remeber-forget {
    font-size: 500;
    font-size: .9em;
    color: whitesmoke;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;



}

.remeber-forget label input {

    accent-color: #162938;


}

.remeber-forget a {

    color: whitesmoke;
    text-decoration: none;
}

.remeber-forget a:hover {

    text-decoration: underline;


}

.btn-login1 {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #fff;


}

.login-register {
    font-size: .9em;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;



}

.btn-login1 a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;


}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: whitesmoke;
    line-height: 56px;

}

.icon-t {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    right: 0;
    background-color: #162938;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 3em;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    z-index: 1;
    overflow: hidden;

}

.icon-t :hover {
    animation: rotate(360deg);


}

spline-viewer {
    /* Set the viewer to be positioned on top of the background */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    transform: scale(15%) translateY(-312%);
    text-align: center;
   
    /* Adjust the z-index to control the stacking order */
    z-index: 999;
}


